*{
  margin: 0;
  padding: 0;
}

.btn_primary{
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;

  /* desktop/title medium */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */

  cursor: pointer;
}